.discount{
    background-color: var(--white);
    color: var(--black);
    padding: 80px 10px;
    
}

.discount h2 {
    font-weight: 600;
font-size: 48px;
line-height: 104%;
letter-spacing: -0.01em;
}
.span{
    background-color: var(--green);
    color: var(--white);
    padding: 3px 10px;
    border-radius: 12px;
    display: inline-block;
}