.harvestBox{
    background-color: var(--beetroot);
    padding-top: 80px;
    padding-bottom: 62px;
}
.harvestBox h2{
    font-weight: 600;
font-size: 48px;
line-height: 104%;
letter-spacing: -0.01em;
text-transform: uppercase;
}
.harvestBox h2 span {
    color: rgba(251, 251, 251, 0.3);
}

.harvestBox p{
    font-weight: 400;
font-size: 14px;
line-height: 129%;
margin-bottom: 40px;
}

.socMedia{
    background-color: var(--green);
    border-radius: 30px;
padding: 40px 20px;
}

.socMedia img{
    border-radius: 15px;
    width: 295px;
    height: 273px;
    overflow: hidden;
}

.socMedia p{
    margin-top: 20px;
    margin-bottom: 14px;
    font-weight: 600;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.01em;
color: rgba(251, 251, 251, 0.5);
}
.socMediaLinks{
    display: flex;
    flex-wrap: wrap;
}


.socMediaLinks li:not(:last-child)::after {
    content: '/';
    margin: 8px;
    font-weight: 600;
font-size: 24px;
line-height: 108%;
letter-spacing: -0.01em;
}
.socMedia a{
    text-decoration: none;
    font-weight: 600;
font-size: 24px;
line-height: 108%;
letter-spacing: -0.01em;
color: var(--white);
}