.menuButton{
    background-color: transparent;
    border: none;
    align-self: flex-end;
}
.burgerIcon {
    fill: white;
    width: 32px;
    height: 32px;
}
.modalCloseIcon{
color: var(--white);
    width: 32px;
    height: 32px;
}
.modal{
    padding: 20px;
    position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--beetroot);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* Navigation css */
.navLink{
    text-decoration: none;
    border: 1px solid rgba(251, 251, 251, 0.4);
border-radius: 12px;
padding: 12px 16px;
display: block;
margin-bottom: 8px;
font-family: var(--fallback-font);
font-weight: 400;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.02em;
text-align: center;
text-transform: capitalize;
color: var(--white);
}
.navLink:hover{
    background-color: var(--white);
    color: var(--beetroot);
}